* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: auto;
}

body {
    background-color: var(--black);
    /* fundo escuro */
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: auto;
}

.lenis {
    height: 100%;
}

/* Camada de ruído */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/noise.gif');
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.1;
    /* intensidade do ruído */
    pointer-events: none;
    z-index: 1;
}

/* Estado inicial: opacidade 0 e deslocamento de 40px na direção específica */
.fade-in-slide-up,
.fade-in-slide-down,
.fade-in-slide-left,
.fade-in-slide-right {
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-slide-up {
    transform: translateY(40px);
}

.fade-in-slide-down {
    transform: translateY(-40px);
}

.fade-in-slide-left {
    transform: translateX(40px);
}

.fade-in-slide-right {
    transform: translateX(-40px);
}

/* Classe adicionada quando o elemento aparece */
.appear {
    opacity: 1;
    transform: translate(0, 0);
}

/* Aplicando o estilo apenas aos elementos de texto */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: transparent;
    background: radial-gradient(99.87% 160.32% at 50% 0%, #F0F3FF 0%, #4C598E 100%) !important;
    background-clip: text;
    -webkit-background-clip: text !important;
}

p,
ul {
    max-width: 800px;
    font-size: 1.3rem;
    line-height: 1.6em;
    color: var(--text-white-transparent);
}

h3 {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    padding: 8px;
    width: 100%;
    justify-content: center;
    z-index: 2;
    background: var(--black);
}

.logo {
    width: 100px;
    margin-right: 30px;
}

#countdown {
    display: flex;
    align-items: center;
    width: fit-content;
    transform: translateY(-10px);
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--gray);
}

#countdown div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 50px;
    height: 40px;
    background-color: var(--footer);
    border-radius: 10px;
    font-weight: bolder;
    position: relative;
}

#countdown div span {
    position: absolute;
    bottom: -30px;
    z-index: 5;
    color: #e9b20c;
}

.button-container {
    width: fit-content;
}

/* Botão estilizado */
.styled-button {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bolder;
    color: #FFF5E1;
    /* Tom claro para contraste */
    background: linear-gradient(45deg, #dd8809, #e9b20c);
    /* Laranja e amarelo suave */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    transition: transform 0.3s ease, background 0.3s ease !important;
    box-shadow: 0 4px 15px rgba(255, 165, 38, 0.5);
    /* Sombra laranja */
}

/* Animação do brilho */
.styled-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0.3),
            rgba(255, 255, 255, 0));
    transform: skewX(-20deg);
    transition: 0.3s ease;
    animation: shine 3s linear infinite;
    filter: blur(8px);
    /* Brilho mais suave */
    pointer-events: none;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
}

/* Efeito de hover */
.styled-button:hover {
    background: linear-gradient(45deg, #FF9800, #FFC107);
    /* Cores mais vibrantes */
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(255, 165, 38, 0.7);
    /* Intensificação da sombra laranja */
}

.styled-button:hover::before {
    left: 0;
    /* Para parecer mais natural no hover */
}

.alunos {
    width: 200px;
    display: block;
    margin: 5px auto;
    margin-top: 30px;
}

/* Animação de brilho */
@keyframes shine {
    0% {
        left: -150%;
    }

    40% {
        left: 100%;
    }

    100% {
        left: 150%;
    }
}

#hero {
    position: relative;
    /* necessário para o ::after funcionar */
    height: 100vh;
    max-height: 1000px;
    background-image: url('../img/HERO_BG_2.webp');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 8%;
    max-width: 100vw;
    overflow-y: hidden;
}

/* Degradê de transparência no rodapé do hero */
#hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 450px;
    /* altura do degradê */
    background: linear-gradient(to bottom, transparent, rgba(0, 2, 7, 1));
    /* ajuste a cor/nível de opacidade conforme necessário */
    pointer-events: none;
    /* evita interferência com cliques */
}

#hero .content {
    position: relative;
    width: 1180px;
    margin: auto;
    z-index: 999;
}

#hero .content .text {
    max-width: 650px;
}

#hero h1 {
    max-width: 650px;
    font-size: 2.8rem;
    font-weight: bolder;
    margin-bottom: 15px;
}

#hero p {
    max-width: 500px;
    color: var(--text-white-transparent);
}

#hero span {
    color: var(--text-white-transparent);
    font-size: 0.9rem;
    display: flex;
    margin: 15px auto;
    width: fit-content;
    align-items: center;
}

.fade-out {
    opacity: 0;
}

section {
    padding: 150px 0;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
}

section h1 {
    text-align: center;
    margin: auto;
    width: fit-content;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 80px;
    max-width: 720px;
}

.text-center {
    text-align: center;
    margin: auto;
    max-width: 650px;
}

/* Seção que conterá todo o conteúdo da timeline */
#conteudo {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 120px;
    overflow: visible;
}

#conteudo::before {
    content: "";
    position: absolute;
    top: 20%;
    left: inherit;
    right: 65%;
    width: 400px;
    height: 400px;
    background: #7f5cc0;
    border-radius: 100%;
    opacity: 0;
    filter: blur(150px);
    mix-blend-mode: screen;
    animation: light 8s infinite;
    pointer-events: none;
}

@keyframes light {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }
}

#conteudo .title {
    font-weight: 500;
    text-align: center;
    margin: auto;
    margin-bottom: 80px;
    font-size: 1.6rem;
    max-width: 500px;
}

/* Container para os itens da timeline */
.timeline-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin: 0 50px;
}

/* Linha horizontal que conecta os círculos quando em telas maiores */
.timeline-container::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 78%;
    height: 1px;
    background: rgba(170, 170, 170, 0.4);
    z-index: 1;
}

/* Cada coluna/etapa da timeline */
.timeline-item {
    width: 25%;
    position: relative;
    padding: 0;
}

.circle {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    /* Substitui o background-color por um degradê linear */
    background: linear-gradient(135deg, #180c18, rgb(8, 3, 10));
    border: 1px solid #555;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

/* Ícone dentro do círculo (exemplo simples) */
.circle i {
    font-style: normal;
    /* usando apenas um texto como "1", "2" ... ou ícone de Font Awesome */
    font-size: 16px;
    color: #e9b20c;
}

/* Título de cada item */
.timeline-item h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

/* Parágrafo de cada item */
.timeline-item p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--white);
}

/* ===========================
     ESTILOS RESPONSIVOS
     =========================== */
@media (max-width: 1024px) {

    /* A timeline passa a ficar na vertical */
    .timeline-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
        max-width: 500px;
        margin: auto;
    }

    /* Linha vertical que conecta os círculos em telas menores */
    .timeline-container::before {
        top: 0;
        left: 40px;
        width: 1px;
        height: 82%;
    }

    /* Cada item ocupa 100% de largura e fica empilhado */
    .timeline-item {
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        /* espaçamento entre os itens */
        display: flex;
        align-items: flex-start;
    }

    /* Círculo à esquerda do texto */
    .circle {
        margin-right: 20px;
        margin-bottom: 0;
        /* remove o espaço extra embaixo do círculo */
    }
}

#oferta {
    margin-bottom: 240px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #503a772b;
    /* lilás com transparência */
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(to left, #A074EF, transparent) 1;
    overflow: visible;
}

#oferta .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: -50px 0;
    flex-wrap: wrap;
}

#oferta .card {
    max-width: 450px;
    min-width: 250px;
    padding: 50px;
    padding-top: 40px;
    border-radius: 15px;
    background: radial-gradient(70.1% 91.75% at 66.77% 95.14%, #1f1f29 0%, #121217 100%);
    text-align: center;
}

#oferta .card h4 {
    font-weight: 600;
    margin-bottom: 30px;
}

#oferta .card .vantagens {
    margin-bottom: 30px;
}

#oferta .card .vantagens a {
    color: var(--text-white);
}

#oferta .card .texto {
    font-weight: bold;
    color: var(--text-white);
}

#oferta .card p {
    margin-bottom: 0;
    font-size: 1rem;
    color: var(--text-white);
}

#oferta .card .old-price {
    font-size: 1rem;
    margin-bottom: 20px;
}

#oferta .card .other-price {
    font-size: 1.2rem;
    margin-bottom: 0px;
}

#oferta .card .price {
    font-size: 2rem;
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#oferta .card .main-price {
    font-size: 4rem;
    margin-left: 8px;
}

#oferta .card .divided-price {
    margin-bottom: 0px;
}

#oferta .card .formas-pagamento {
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

#oferta .garantia-card {
    max-width: 400px;
    width: 400px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#oferta .garantia-conteudo {
    padding: 15px;
    text-align: center;
    margin-bottom: 50px;
}

#sevenDaysImg {
    display: block;
    width: 140px;
    margin: auto;
    margin-bottom: 30px;
    filter: grayscale(1);
}

#oferta .garantia-conteudo h2 {
    font-size: 2.4rem;
    margin-bottom: 15px;
}

#oferta .garantia-conteudo h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

#oferta .garantia-conteudo p {
    margin: 10px 0;
    font-size: 1.2rem;
    color: var(--text-white);
}

#oferta .garantia-conteudo p:first-child {
    font-weight: bold;
}

#sobre {
    min-height: 100vh;
    background-image: url('../img/SOBRE_BG.webp');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 50px 5%;
}

/* Degradê de transparência no topo do sobre */
#sobre::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* altura do degradê */
    background: linear-gradient(to top, transparent, rgba(0, 2, 7, 1));
    /* ajuste a cor/nível de opacidade conforme necessário */
    pointer-events: none;
    /* evita interferência com cliques */
}

#sobre .content {
    width: 1280px;
    margin: auto;
}

#sobre .content .text {
    max-width: 600px;
    color: var(--text-white-transparent);
}

#sobre .content .text p {
    letter-spacing: 0.06em;
}

#sobre .content .text span {
    font-weight: bolder;
    color: var(--text-white);
}

footer {
    padding: 10px 0;
    text-align: center;
    background-color: var(--footer);
    color: var(--gray);
}

@media (max-width: 1024px) {

    html {
        font-size: 15px;
    }

    .container {
        max-width: 900px;
    }

    .button-container {
        margin: auto;
    }

    .styled-button {
        padding: 14px 22px;
        font-size: 16px;
    }

    #hero {
        padding: 0 30px;
        padding-top: 30%;
        text-align: center;
        background-image: url('../img/HERO_BG_MOBILE_2.webp');
        max-height: unset;
    }

    #hero .content .text {
        margin: auto;
    }

    #hero p {
        margin: auto;
    }

    #hero .styled-button {
        display: block;
        margin: auto;
        margin-top: 40px;
    }

    #sobre {
        padding-top: 90%;
        background-image: url('../img/SOBRE_BG_MOBILE.webp');
    }

    #sobre .content .text {
        margin: auto;
    }
}

@media (max-width: 991px) {

    #oferta {
        padding-top: 30px;
        overflow: hidden;
    }

    #oferta .row {
        margin: 40px auto;
    }

    #oferta .garantia-conteudo {
        margin-bottom: 30px;
    }

    #oferta .card {
        margin: 0 50px;
        margin-bottom: 60px;
    }

}

@media (max-height: 750px) and (min-width: 769px) {
    html {
        font-size: 14px;
    }

    .styled-button {
        padding: 12px 18px;
        font-size: 14px;
    }

    .alunos {
        width: 150px;
    }

    #sobre .content .text {
        max-width: 450px;
    }
}

@media (max-width: 767px) {

    html {
        font-size: 14px;
    }

    header {
        padding: 30px 0;
    }

    .logo {
        display: none;
    }

    .styled-button {
        padding: 15px 20px;
        font-size: 14px;
    }

    section {
        padding: 100px 20px;
    }

    #oferta .row {
        gap: 0;
        margin: 40px auto;
    }

    #sobre {
        padding-top: 130%;
    }

}

@media (max-width: 600px) {

    #oferta .card {
        padding: 50px 40px;
    }

}

@media (max-width: 500px) {

    html {
        font-size: 12px;
    }

    .styled-button {
        padding: 12px 18px;
        font-size: 12px;
    }

    #hero h1 {
        font-size: 2.2rem;
    }

    #hero p {
        max-width: 320px;
    }

    section {
        padding: 30px 20px;
    }

    section h1 {
        font-size: 2.6rem;
        margin-bottom: 60px;
    }

    #call-to-action h2 {
        font-size: 1.6rem;
        line-height: 1.5em;
    }

    #oferta .garantia-card {
        max-width: 300px;
        padding: 0;
    }

    footer {
        font-size: 0.95rem;
    }

}

@media (max-width: 375px) {

    #hero {
        padding-top: 50%;
    }

}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}